@import "../omarchy/current/theme/waybar.css";

* {
  /*background-color: @background;*/
  color: @foreground;

  border: none;
  border-radius: 10px;
  margin-top: 1px;
  min-height: 24px;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

/* -- Transparent waybar -- */
window#waybar {
  background: transparent;
  margin-top: 1px;
}

window#waybar.empty #window{
  background: transparent;
  color: transparent;
  padding: 0px;
  margin-left: 5px;
  transition: .5s;
}

mpris.empty {
  background: transparent;
  color: transparent;
}

/* -- Default Module setup -- */
.modules-center {
  background-color: @background;
  margin-bottom: 2px;
  padding: 0px 7px 0px 2px;
}

.modules-left {
  margin-right: 8px;
  margin-bottom: 2px;
  padding: 0px 2px;
  border-radius: 10px;
}

.modules-right {
  margin-right: 8px;
  margin-bottom: 2px;
}

/* -- Left modules -- */
#custom-omarchy {
  background-color: @background;
  color: #7CA161;
  font-size: 15;
  padding: 0px 6px;
}

#workspaces {
  background-color: @background;
  margin-left: 1px;
  padding: 0px 4px;
}

#mpris {
  background-color: @background;
  padding: 0px 8px;
  margin-left: 95px;
  min-width: 180px;
}

#workspaces button {
  all: initial;
  padding: 0px 6px;
  margin: 0px 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

/* -- Center modules -- */
#clock {
  margin-left: 5px;
}
#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 5px;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}
#custom-screenrecording-indicator.active {
  color: #a55555;
}
#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

#custom-weather {
  margin-left: 7.5px;
  margin-right: 7.5px;
}
#custom-weather.unavailable {
  min-width: 0;
  margin: 0;
  padding: 0;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0px 0px 0px 7.5px;
}
#custom-voxtype.recording {
  color: #a55555;
}

#custom-update {
  font-size: 10px;
  min-width: 12px;
  margin: 0px 7.5px;
}

/* -- Right modules -- */
#custom-expand-icon {
  background-color: @background;
  border-radius: 10px 0px 0px 10px;
  padding: 0px 6px;
  margin-right: 0px;
  margin-top: 2px;
}

#tray {
  background-color: @background;
  border-radius: 0px 10px 10px 0px;
  padding: 0px 6px 0px 0px;
  margin-right: 13px;
}

#battery {
  background-color: @background;
  padding: 0px 6px;
  margin-right: 4px;
}
#battery.warning {
  color: #fab739;
}
#battery.critical {
  color: #f51b29;
}
#battery.charging {
  color: #39b382;
}

#network {
  background-color: @background;
  padding: 0px 6px;
  margin-right: 4px;
}

#pulseaudio {
  background-color: @background;
  padding: 0px 0px 0px 6px;
  margin-right: 4px;
  margin-left: 2px;
}
#pulseaudio.muted {
  color: #f51b29;
}
#pulseaudio.bluetooth {
  color: #4287f5;
}

#memory {
  background-color: @background;
  padding: 0px 6px;
  margin-right: 4px;
}

#bluetooth {
  background-color: @background;
  padding: 0px 6px;
  margin-right: 4px;
}
#bluetooth.connected {
  color: #4287f5;
}

#cpu {
  background-color: @background;
  padding: 0px 6px;
  margin-right: 4px;
}

/* -- Misc --*/
tooltip {
  padding: 2px;
}

.hidden {
  opacity: 0;
}
